{% extends "base_in.html" %}

{% block title %}
	Asignacion
{% endblock %}

{% load static %}

{% block fondo %}
{% endblock %}

{% block body %}

	<script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'js/chosen.jquery.js' %}"></script>

	<div class="row ">
		<div class="col-md-12" style="margin: auto; display:block; ">
			<table width="100%" border="0" cellpadding="2">
				<tr>
					<td>
						<img src="{% static '/media/logounidos.png' %}" width="350"  height="150" alt="img" style="display:block; ">
					</td>
				</tr>
			</table>
			<hr>
		</div>
		<div class="col-md-12">
			<nav class="navbar navbar-dark bg-dark col-md-12">
				<nav class="col-md-12" >
	  				<form class="form-inline">
	  					<div class="col-md-2">	
	  						<a href="{% url 'Inventory:asignaciones' %}" type="buttonCerrarSesion"style="position:static; display:inline-block; "><img src="{% static '/media/regresar2.png' %}" alt="img" style="margin: auto;width:25%; align:right" ></a> 
	  					</div>
	  					<div class="col-md-8" >
		    				<label style="color:white; font-size:20px">ASIGNACIÓN</label>
	  					</div>
	  					<div class="col-md-2" >
		    				<button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModal" >
		    					<img src="{% static '/media/asignacion.png' %}" alt="img" style="margin: auto;width:30px; align:right" ><strong>  NUEVO</strong>
		    				</button>			
	  					</div>
	  				</form>
				</nav>
			</nav>
		</div>
		<br>
		<br>
		<br>
		<div class="col-md-12">
			<table id="tabla" class="table table-striped table-bordered table-hover">
				<thead>	
					<tr>
						<th>#</th>
						<th>Cod_Equipo</th>
						<th>Quien Recibe</th>
						<th>Quien Entrega</th>
						<th>Fecha</th>
						<th>Comentario</th>
						<th>Acción</th>
					</tr>
				</thead>
				<tbody id="filas_asignacion" style="background:#F2F3F5;">
					{% for c in estadoAsignacion %}
						<tr>
							<td width="5%">{{forloop.counter}}</td>
							<td width="13%"><strong>{{c.codigo_equipo.codigo_equipo}}</strong></td>
							<td width="15%"><strong>{{c.cod_empleadoRecibe.primer_nombre}} {{c.cod_empleadoRecibe.primer_apellido}}</strong></td>
							<td width="15%"><strong>{{c.cod_empleadoEntrega.primer_nombre}} {{c.cod_empleadoEntrega.primer_apellido}}</strong></td>
							<td width="10%"><strong>{{c.fecha}}</strong></td>
							<td width="20%"><strong>{{c.Comentario}}</strong></td>
							<td width="10%">
								<div class="btn-group" role="group" style="color:orange">
			    					<button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
										<img src="{% static '/media/accion.png' %}" alt="img" style="margin: auto;width:20px; align:right" >
			    					</button>
								    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
								    	<a class="dropdown-item" href="{% url 'Inventory:editarasignacionIT' c.id %}">
						    				<img src="{% static '/media/editar.png' %}" alt="img" style="margin: auto;width:20px; align:right" ><strong>  Editar</strong>
						    			</a>
								   	</div>
								</div>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>


	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel"><img src="{% static '/media/asignacion.png' %}" alt="img" style="margin: auto;width:30px" > Nuevo Asignación</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <form  action="{%  url 'Inventory:nuevoasignacionIT' %}" method="post">
	        	<div class="col-md-12">
					{% csrf_token %}

					<div>
						<div class="form-row">
							<div class="form-group col-md-12">
								<label for="selectCodEquipo">Código Equipo</label>
						    	<select name="CodEquipo" class="form-control" id="selectCodEquipo">
						    		<option selected="">Seleccione Equipo</option>
						    		{% for CodEquipo in equipos  %}
						    			<option value="{{CodEquipo.id}}">{{CodEquipo.codigo_equipo}}</option>
						    		{% empty%}
						    			<option value="">No hay Equipo</option>
						    		{% endfor %}
						    	</select>
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="selectEmpleadoRecibe">Código Empleado Recibe</label>
						    	<select name="CodEmpleadoRecibe"  class="form-control" id="selectCodEmpleadoRecibe">
						    		<option selected="">Seleccione Empleado</option>
						    		{% for empleado in empleados  %}
						    			<option value="{{empleado.id}}">{{empleado}} </option>
						    		{% endfor %}
						    	</select>
							</div>
							<div class="form-group col-md-6">
								<label for="selectEmpleadoEntrega">Código Empleado Entrega</label>
						    	<select name="CodEmpleadoEntrega" class="form-control" id="selectCodEmpleadoEntrega">
						    		<option selected="">Seleccione Empleado </option>
						    		{% for empleado in listaEmpleados %}
						    			<option value="{{empleado.id}}">{{empleado}} </option>
						    		{% endfor %}
						    	</select>
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-12">
								<label for="comentario">Comentario</label>
						    	<textarea name="Comentario" id="Comentario" class="form-control" rows="2" style="resize:none;"></textarea>
							</div>
						</div>
					</div>
					<input type="submit" value="Guardar" class="btn btn-success" id="btnGuardar">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
	        	</div>
			</form>
	      </div>
	    </div>
	  </div>
	</div>

	<script type="text/javascript">
		$(document).ready(function(){
			$('#btnModal').click(function(event){
				clearModal();
				$('#myModal').modal('show');
			});
			$('#btnGuardar').click(function(event){
				 event.preventDefault();
				var c  = $('#selectCodEquipo').val();
	            var er = $('#selectCodEmpleadoRecibe').val();
	            var ee = $('#selectCodEmpleadoEntrega').val();
	            var co = $('#Comentario').val();

	            $.ajax({
	            	type:"GET",
	            	data:{"selectCodEquipo":c,"selectEmpleadoRecibe":er,"selectEmpleadoEntrega":ee,"Comentario":co},
	            	url: "/Inventory/asignacion/nuevo/",
	            	success: function(response){
	            		$('.close').click();
	            		location.reload();
	            	},
	            	error:function(jqXHR,textStatus,errorThrown){
	            		if (jqXHR.status === 0) {alert('Not connect: Verify Network: ' + textStatus);}
	                    else if (jqXHR.status == 404) {alert('Requested page not found [404]');} 
	                    else if (jqXHR.status == 500) {alert('Internal Server Error [500].');}
	                    else if (textStatus === 'parsererror') {alert('Requested JSON parse failed.');}
	                    else if (textStatus === 'timeout') {alert('Time out error.');} 
	                    else if (textStatus === 'abort') {alert('Ajax request aborted.');} 
	                    else {alert('Uncaught Error: ' + jqXHR.responseText);}
	            	},
	            	timeout:5000
	            }).always(function(){
	            	$('#myModal').modal('toggle');//Verificar uso 
	                
	            });
	           
			});
			$('#selectCodEquipo').chosen({
			    width: "100%"
			});
				
			$('#selectCodEmpleadoRecibe').chosen({
			    width: "100%"
			});
			$('#selectCodEmpleadoEntrega').chosen({
			    width: "100%"
			});

			$('#tabla').dataTable({
				 width: "100%"
			});
		});
	</script>


{% endblock %}