{% extends "base_in.html" %}

{% block title %}
	HERRAMIENTAS IT
{% endblock %}

{% load static %}

{% block fondo %}
	{% static 'media/fherramientas.png' %}
{% endblock fondo %}


{% block body %}
	<div class="row">
		<div class="col-md-2">	
	  		 
	  	</div>
		<div class="col-md-12" style="margin: auto; display:block; ">
			<table width="100%" border="0" cellpadding="2">
				<tr>
					<td>
						<a href="{% url 'Inventory:IT' %}" type="buttonCerrarSesion"style="position:static; display:inline-block; ">
	  						<img src="{% static '/media/regresar2.png' %}" alt="img" style="margin: auto;width:25%; align:right" >
	  					</a>
					</td>
					<td>
						<img src="{% static '/media/logounidos.png' %}" width="300"  height="120" alt="img" style="display:block; ">
					</td>
					<td>
						<a href="{% url 'security:log_out' %}" type="buttonCerrarSesion"style="position:relative"><img src="{% static '/media/cerrarsesiontodo.png' %}" width="155"  height="50" alt="img" style="display:block;" align="right"></a>
					</td>
				</tr>
			</table>
			<hr>
		</div>
		<div class="col-md-12" style="text-align:center">
			<br>
			<center>
				<form class="form-inline col-md-12">
					<div style="width:50px;" class="col-md-3">
						<a href="{% url 'Inventory:sistemaIT' %}" class="btn btn-default" role="button">
								<img  href="{% url 'Inventory:sistemaIT' %}" src="{% static '/media/sistemaoperativoH.png' %}" width="200"  height="200" alt="img" style="display:block; ">
							</a>
					</div>

					<div style="width:50px;" class="col-md-3">
						<a href="{% url 'Inventory:discoDuroIT' %}" class="btn btn-default" role="button">
								<img  href="{% url 'Inventory:discoDuroIT' %}" src="{% static '/media/discoduroH.png' %}" width="200"  height="200" alt="img" style="display:block; ">
							</a>
					</div>

					<div style="width:50px;" class="col-md-3">
						<a href="{% url 'Inventory:memoriaRAMIT' %}" class="btn btn-default" role="button">
								<img  href="{% url 'Inventory:memoriaRAMIT' %}" src="{% static '/media/memoriaRAMH.png' %}" width="200"  height="200" alt="img" style="display:block; ">
							</a>
					</div>

					<div style="width:50px;" class="col-md-3">
						<a href="{% url 'Inventory:procesadorIT' %}" class="btn btn-default" role="button">
								<img  href="{% url 'Inventory:procesadorIT' %}" src="{% static '/media/procesadorH.png' %}" width="200"  height="200" alt="img" style="display:block; ">
							</a>
					</div>
					<div class="col-md-1"></div>
				</form>
			</center>
		</div>

		<div class="col-md-12" style="text-align:center">
			<br>
			<center>
				<form class="form-inline col-md-12">
					<div class="col-md-1"></div>
					<div style="width:50px;" class="col-md-3">
						<a href="{% url 'Inventory:tipoEquipoIT' %}" class="btn btn-default" role="button">
								<img  href="{% url 'Inventory:tipoEquipoIT' %}" src="{% static '/media/tipoH.png' %}" width="200"  height="200" alt="img" style="display:block; ">
							</a>
					</div>
					<div style="width:50px;" class="col-md-3">
						<a href="{% url 'Inventory:marcaIT' %}" class="btn btn-default" role="button">
								<img  href="{% url 'Inventory:marcaIT' %}" src="{% static '/media/marcaH.png' %}" width="200"  height="200" alt="img" style="display:block; ">
							</a>
					</div>
					<div style="width:50px;" class="col-md-3">
						<a href="{% url 'Inventory:modeloIT' %}" class="btn btn-default" role="button">
								<img  href="{% url 'Inventory:modeloIT' %}" src="{% static '/media/modeloH.png' %}" width="200"  height="200" alt="img" style="display:block; ">
							</a>
					</div>
					<div class="col-md-1"></div>
				</form>
			</center>
		</div>
	</div>
{% endblock  %}