{% extends "base_in.html" %}

{% block title %}
	Profesión
{% endblock %}

{% load static %}

{% block fondo %}
{# 	{% static 'media/fempleado.jpg' %} #}
{% endblock %}

{% block body %}

	<script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'js/chosen.jquery.js' %}"></script>

	<div class="row " width="100%">
		
		<div class="col-md-12" style="width:1130px;height:150px; margin:0 auto;border-radius:3px;position:static">
			<img src="{% static '/media/logounidos.png' %}" width="350"  height="150" alt="img" style="margin: auto;psoition:absolute ">
			<br>
		</div>
		<div class="col-md-12">
			<nav class="navbar navbar-dark bg-dark col-md-12">
				<nav class="col-md-12" >
	  				<form class="form-inline">
	  					<div class="col-md-2">	
	  						<a href="{% url 'Inventory:admin' %}" type="buttonCerrarSesion"style="position:static; display:inline-block; "><img src="{% static '/media/regresar2.png' %}" alt="img" style="margin: auto;width:30%; align:right" ></a> 
	  					</div>
	  					<div class="col-md-8" >
		    				<label style="color:white; font-size:20px">PROFESIÓN</label>
	  					</div>
	  					<div class="col-md-2" >
		    				<button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModal" >
		    					<img src="{% static '/media/profesion.png' %}" alt="img" style="margin: auto;width:30px; align:right" ><strong>  NUEVO</strong>
		    				</button>
	  					</div>
	  				</form>
				</nav>
			</nav>
		</div>
		<br>
		<br>
		<br>
		<div class="col-md-12">
			<table id="tabla" class="table table-striped table-bordered table-hover" width="100%">
				<thead>	
					<tr>
						<th width="10%">#</th>
						<th width="40%">Empleado</th>
						<th width="30%">Profesión</th>
						<th width="40%">Grado Académico</th>
						<th width="10%">Acción</th>
					</tr>
				</thead>

				<tbody id="filas_profesion" style="background:#F2F3F5;">
					{% for c in profesion %}
						<tr>
							<td>{{forloop.counter}}</td>
							<td><strong>{{c.cod_empleado.primer_nombre}} {{c.cod_empleado.segundo_nombre}} {{c.cod_empleado.primer_apellido}} {{c.cod_empleado.segundo_apellido}}</strong></td>
							<td><strong>{{c.profesion}}</strong></td>
							<td><strong>{{c.gradoacademico.gradoacademico}}</strong></td>
							<td>
								<div class="btn-group" role="group" style="color:orange">
			    					<button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
										<img src="{% static '/media/accion.png' %}" alt="img" style="margin: auto;width:20px; align:right" >
			    					</button>
								    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
								    	<a class="dropdown-item" href="{% url 'Inventory:editarprofesion' c.id %}">
						    				<img src="{% static '/media/editar.png' %}" alt="img" style="margin: auto;width:20px; align:right" ><strong>  Editar</strong>
						    			</a>
								   	</div>
								</div>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>


	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel"><img src="{% static '/media/profesion.png' %}" alt="img" style="margin: auto;width:30px" > Nueva Profesión</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <form  action="{%  url 'Inventory:nuevoprofesion' %}" method="post">
	        	<div class="col-md-12">
	        		
					{% csrf_token %}
					
					<div class="form-row">
						<div class="form-group col-md-12">
							<label for="inputEmpleado">Empleado</label>
						    <select name="empleado" class="form-control" id="empleado">
						    	<option selected="">Seleccione Empleado</option>
						    	{% for empleado in empleado  %}
						    		<option value="{{empleado.id}}">{{empleado}}</option>
						    	{% endfor %}
						    </select>
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-12">
							<label for="profesion">Profesión</label>
				    		<input type="text" name="profesion" class="form-control" id="profesion">
						</div>
						<div class="form-group col-md-12">	
							<label for="txtgradoAcademico">Grado Academico</label>
							<select name="gradoAcademico" class="form-control" id="gradoAcademico">
								<option selected="">Seleccione Nivel de Grado Academico</option>
								{% for 	gradoAcademico in gradoAcademico  %}
									<option value="	{{gradoAcademico.id}}">{{gradoAcademico}}</option>
								{% endfor %}
							</select>
						</div>
					</div>

					<input type="submit" value="Guardar" class="btn btn-success">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
	        	</div>
			</form>
	      </div>
	    </div>
	  </div>
	</div>

	<script>
	    $(document).ready(function(){
	        $('#empleado').chosen({
			    width: "100%"
			});
			
			$('#gradoAcademico').chosen({
			    width: "100%"
			});

			$('#tabla').dataTable({
				 width: "100%"
			});


			$('#codEmpleado').mask('9999');
	    });
	</script>	
{% endblock %}